# Ağır Medya Klasörleri (Bunlar GitHub'a gitmeyecek)
static/assets/img/products/
static/assets/img/videos/
static/assets/img/portfolio/

# Veritabanı ve Python Dosyaları
database.db
__pycache__/
*.pyc
venv/
.env
.vscode/

# Log ve geçici dosyalar
*.log
.DS_Store